
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" Content="text/html;charset=utf-8"/> 
<meta content="utf-8" http-equiv="encoding">


<center>
<body>
<h1>Employee Details
	
</h1>
<h2>
Enter New Employee Details
</h2>
<form action="/api/Employee" method="POST">

<label for="EID">ID :</label>
<input type='text' name='EID'><br><br>
<label for="ENAME">   NAME : </label>
<input type='text' name='ENAME'><br><br>
<label for="EDESIGNATION"> DESIGNATION :</label>
<input type='text' name='EDESIGNATION'><br><br>
<input type = 'submit' value='Add Employee'>

<a href = '/api/Employee'>get all Employees<br>


</form>




</body>
</center>
</html>